* {

    margin: 0;
    padding: 0;


}

body {

    background-image: url(/Atividade_avaliativa/01/03/imgs/funfun.jpg);
    background-size: cover;

}

.janelasnav {

    width: 600px;
    height: 100px;
    margin: 100px auto;
    background-color: transparent;
    position: relative;
    margin-top: -45px;


}

.janelasnav ul {

    list-style: none;

}

.janelasnav ul li {
    float: left;

}

.janelasnav label {

    display: block;
    width: 100px;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.37);
    cursor: pointer;
    text-align: center;
    color: antiquewhite;

}

.ler_janel:checked~label {

    background-color: transparent;

}

.ler_janel {

    display: none;

}

.conteudo {

    border-top: 5px solid rgb(0, 128, 0);
    background-color: transparent;
    display: none;
    position: absolute;
    color: aliceblue;
    height: 20px;
    width: 600px;
    left: 0;

}

.ler_janel:checked~.conteudo {

    display: block;



}

#iconhome {


    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: -30px;
    width: auto;
}


.modalizin {
    display: block;
    align-items: center;
    margin-top: 250px;
    font-size: x-large;
    padding: 10px;
    background-color: rgb(0, 128, 0);
    color: rgb(2, 2, 2);
    font-weight: bolder;
    cursor: pointer;
    font-size: 15px;
    width: 150px;
    height: 35px;
    font: italic;
    border-radius: 20px;

}

hr {
    border: 0px;
    border-top: 1px solid lightgray;
}

.modal-container {
    width: 100vw;
    position: fixed;
    top: 30px;
    display: none;
    z-index: 999;
    justify-content: center;
}

.modal {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    width: 35%;
    background-image: url(/Atividade_avaliativa/01/03/imgs/capa_modal.gif);
}

hr {

    color: black;

}

.active {
    display: flex;
    justify-items: center;
    align-items: center;

}

span {
    margin: 10px auto;
    color: black;
}

.botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.botoes button {
    font-size: medium;
    padding: 10px;
    border: none;
    color: white;
    cursor: pointer;
}

.btsim {
    background-color: rgb(15, 4, 106);
}

.btnao {
    background-color: brown;
}