* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

.carrossel {
    box-shadow: 2px 2px 4px;
    overflow: hidden;
    height: 500px;
    width: 500px;
}

.conteiner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transition: translateX(0);
}

.img {
    object-fit: cover;
    height: 500px;
    width: 500px;
}

#conteudo {
    width: 200px;
    height: 200px;
    position: absolute;
    
}

.ativo {
    background-color: rgb(90, 3, 141);
    display: block;
    color: aquamarine;
    position: relative;
}

.inativo {
    background-color: white;
    color: whitesmoke;
    /*display: none;*/
    position: relative;
    animation: mymove 5s;
    -webkit-animation: mymove 5s;
    -moz-animation: mymove 5s;
    animation-iteration-count: 1;
}

@keyframes mymove {
    from {
        top: 0px;
    }
    to {
        top: 200px;
        opacity: 0;
    }
}